//@extend-elements
//original selectors
//.widgetDashboard .tile .tileContent.addNew .icon, .widgetDashboard .tile .tileContent.addNew .title
@import 'vars.scss';

%extend_1 {
    color: #909090;
    text-align: center;
    width: 100%;
}

.progressArea {
    width: 100%;
    display: block;
    position: relative;
    z-index: 301;

    .collapse {
        top: 15px;
    }

    .overlay {
        position: absolute;
        height: 100vh;
        width: 100%;
        z-index: 30;
        background-color: rgba(1,1,1, 0.03);
        display: block;

        .center-block {
            width: 100%;
            margin: calc(0.20 * (100% - 140px)) 0;

            img.loading {
                display: block;
                margin: 0 auto;
            }

            p {
                text-align: center;
                font-family: 'Segoe UI';
                font-size: large;
                margin-top: 30px;
            }
        }
    }
}


.widgetDashboard {
    .homeDash {
        overflow-y: auto;
        overflow-x: hidden;
    }

    .tilesCenter {
        padding: 5px;
        margin: 5px 0;
    }

    .tile {
        background: none;
        padding: 5px;
        -moz-box-sizing: content-box;
        -webkit-box-sizing: content-box;
        box-sizing: content-box;
        -moz-transition: all 0.2s linear 0s;
        -o-transition: all 0.2s linear 0s;
        -webkit-transition: all 0.2s linear 0s;
        transition: all 0.2s linear 0s;

        .tileContent {
            width: 100%;
            height: 100%;
            background: #fff;
            position: relative;

            &.addNew {
                border: 4px solid #dde2e6;
                background: none;

                .icon {
                    @extend %extend_1;
                }

                .title {
                    @extend %extend_1;
                }

                .titleAndSettingsHolder .titleHolder {
                    width: 100%;
                    margin-top: 30%;
                }
            }

            .primeContent {
                width: 100%;
                height: calc(100% - 42px);
                background-position: 0 -35px;
                background-repeat: no-repeat;
                cursor: pointer;

                img.primeImg {
                    width: 100%;
                    height: 100%;
                }

                .deal-count {
                    font-size: 30px;
                    font-weight: 400;
                    color: #86BA65;
                    margin: auto;
                }

                .footer-count {
                    margin-top: 35px;
                }
            }

            .titleAndSettingsHolder {
                width: 100%;
                height: 42px;
                padding: 5px 5px 5px 10px;

                .titleHolder {
                    line-height: 32px;
                    width: calc(100% - 32px);
                    float: left;

                    .title {
                        font-family: 'Segoe UI';
                        font-weight: 500;
                        font-size: small;
                        text-transform: uppercase;
                    }
                }

                .settingsHolder {
                    width: 32px;
                    height: 32px;
                    text-align: center;
                    display: inline-block;

                    .icon {
                        font-size: 18px;
                        line-height: 32px;
                        margin: 0 auto;
                        vertical-align: top;
                    }
                }
            }

            &.visibilityHide {
                visibility: hidden;
            }

            &.noHeader .primeContent {
                height: 100%;
                background-position-y: 0;
            }

            &.flipView.second.flipNoHeader .primeContent {
                height: 100%;
                background-position: 0 0;
            }
        }

        &.tile1x1 {
            width: 180px;
            height: 180px;
        }

        &.tile1x2 {
            width: 370px;
            height: 180px;
        }

        &.tile2x2 {
            width: 370px;
            height: 370px;
        }

        &.tile2x4 {
            width: 750px;
            height: 370px;
        }

        &.tile2x6 {
            width: 1130px;
            height: 370px;
        }

        .settingsIconholder {
            position: absolute;
            right: 5px;
            top: 5px;
            z-index: 200;

            .settingsHolder {
                padding: 5px;
            }

            &.ddOpen {
                z-index: 300;
            }
        }

        .absPosContainer {
            position: relative;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            overflow: hidden;
        }

        .titleAndSettingsHolder.onlySettings {
            position: absolute;
            width: auto;
            right: 5px;
        }
    }

    .settingsDropDown {
        button.btn-primary.dropdown-toggle {
            min-width: 32px;
            line-height: 40px;
            padding: 0;
            background: none;
            border: none;
            box-shadow: none;
            border-radius: 0;

            &[disabled] {
                cursor: none;
                pointer-events: none;
                opacity: 1;
            }
        }

        &.open button.btn-primary.dropdown-toggle {
            background: #334157;
            color: #fff;
        }

        ul.dropdown-menu {
            right: 0;
            left: auto;
            margin-top: 0;
            background: #334157;
            border-radius: 0;
            color: #fff;
            min-width: 175px;

            li {
                &.divider {
                    background: #a0a0a0;
                    margin: 8px auto;
                    width: 80%;
                }

                a {
                    color: #fff;
                    text-decoration: none;
                    padding: 5px 15px;
                    line-height: 35px;

                    &:hover {
                        background: #334157;
                    }

                    .icon {
                        margin-right: 15px !important;
                    }
                }

                &.resizers a {
                    display: inline-block;
                    color: #fff;
                    width: 50px;
                    text-decoration: none;
                    padding: 5px;
                    line-height: 35px;

                    &.disabled {
                        opacity: 0.5;
                        pointer-events: none;
                        cursor: not-allowed;
                    }

                    &:first-child {
                        margin-left: 5px;
                    }

                    &.active {
                        background: #25b768;
                        color: #fff;
                    }

                    img {
                        margin: 0 auto;
                        display: block;
                        width: 32px;
                    }

                    label {
                        margin: 0 auto;
                        display: block;
                        text-align: center;
                        line-height: 25px;
                    }
                }
            }
        }
    }

    ul {
        list-style: none;
    }

    .layout-col {
        display: inline-flex;
    }

    .tileContainer {
        display: flex;
        -ms-flex-direction: row;
        flex-direction: row;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -ms-align-content: flex-start;
        -webkit-align-content: flex-start;
        align-content: flex-start;
    }
}

#content.widgetDashboard {
    overflow-y: auto;
    width: 100%;
}


.background-container {
    /*background: url('../../assets/images/DashboardBG.png') bottom left repeat-x;*/
    background-color: #e9eef1;
    background-attachment: scroll;
}

.dashboard-container {
    padding: 30px 15px 0;

    .tile-container {
        padding-bottom: 0;
        margin-bottom: 0;

        & > p {
            font-size: 16pt;
            color: $content-subtle-foreground;
            font-weight: 200;
        }

        & > .ng-enter-stagger {
            transition-delay: 0.1s;
            transition-duration: 0s;
        }

        .tile {
            width: 100%;
            background: $content-subtle-background;
            display: inline-block;
            float: left;
            min-height: 200px;
            position: relative;
            margin-bottom: 30px;
            padding: 15px;
            -webkit-transition: background-color 0.3s ease;
            transition: background-color 0.3s ease;

            @include focus-states($content-highlight-foreground);

            &:hover, &:focus {
                color: $content-background;

                h2 {
                    color: $content-background;
                }

                p {

                    &.name {
                        color: #F2F2F2;
                    }

                    &.id {
                        color: #E6E6E6;
                    }
                }
            }

            &:nth-child(4n+4) {
                margin-right: 0;
            }

            p {
                display: block;
                font-weight: normal;
                margin: 0;
                padding: 0;

                &.name {
                    color: $color-tile-name;
                }

                &.id {
                    font-style: italic;
                    color: $color-tile-id;
                }
            }

            & > div {
                position: absolute;
                display: block;
                bottom: 15px;
            }
        }
    }
}

.tile-group-title {
    color: #B8B8B8;
    padding-left: 5px;
}
