@import 'vars.scss';

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak],
.ng-cloak, .x-ng-cloak,
.ng-hide:not(.ng-hide-animate) {
    display: none !important;
}

ng\:form {
    display: block;
}

.ng-animate-shim {
    visibility: hidden;
}

.ng-anchor {
    position: absolute;
}

.win-splitview .win-splitview-pane, .win-splitview .win-splitview-paneplaceholder {
    overflow: auto;
}

.win-splitview .win-splitview-pane {
    background-color: $sidebar-background;
}

.win-pivot-item .win-pivot-item-content {
    padding-bottom: 70px;
}

.win-pivot .win-pivot-surface {
    position: relative !important;
}

.win-pivot-item {
    position: static !important;
}
.win-pivot .win-pivot-viewport {
    overflow-y: visible !important;
    overflow-x: visible !important;
}